a.underline-reg {
text-decoration: none;
background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#222, #222);
text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
background-repeat: no-repeat, no-repeat, repeat-x;
background-size: 0.0em 1px, 0em 1px, 1px 1px;
background-position: 0% 93%, 100% 93%, 0% 100%;
}

a.underline-black {
text-decoration: none;
background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#222, #222);
text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
background-repeat: no-repeat, no-repeat, repeat-x;
background-size: 0.05em 4px, 0.05em 4px, 1px 4px;
background-position: 0% 95%, 100% 95%, 0% 95%;
}

.logo {
	display: block;
	font-family: 'Detail Atlas Medium', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 28px;
	line-height: 38px;
	margin-bottom: 14px;
	text-decoration: none;
	margin-top: 22px;
}

img {
	margin-bottom: -0.35em;
}

body {
	background-color: red;
}